In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1212/Project2_options')

In [2]:
MARKET = "NKY"
EVENT = "US" 
NUM_FILE = 2
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
0  2014-10-28 2014-11-05    2014-11-14        -0.05       26.32      -0.61       -15.80       -54000      164500               8             56        6188000           773500.00        206.266667                     25.78
1  2014-10-28 2014-11-05    2014-12-12        -0.02       42.83      -1.61        -9.80       -88500      181500               8             34        3162000           395250.00        105.400000                     13.18
2  2014-10-29 2014-11-05    2014-11-14         0.07       25.87       0.23       -16.13       -52000      152800               7             58        5846400           835200.00        194.880000                     27.84
3  2014-10-29 2014-11-05    2014-12-12         0.00       42.94      -0.98        -9.75       -80000      159500               7             38        3021000           431571.43        100.700000                     14.39
4  2014-10-30 2014-11-05    2014-11-14         0.04       25.26       0.09       -15.61       -47000      140100               6             64        5958400           993066.67        198.613333                     33.10
5  2014-10-30 2014-11-05    2014-12-12         0.02       42.77      -0.48        -9.57       -82500      162000               6             36        2862000           477000.00         95.400000                     15.90
6  2014-10-31 2014-11-05    2014-11-14         0.04       25.58       0.04       -23.86       -67000       81000               5             45         630000           126000.00         21.000000                      4.20
7  2014-10-31 2014-11-05    2014-12-12         0.00       44.30      -1.12       -11.82       -93500      112500               5             32         608000           121600.00         20.266667                      4.05
10 2016-11-01 2016-11-09    2016-12-09        -0.01       44.73      -0.91       -10.18       -84000      136000               8             36        1872000           234000.00         62.400000                      7.80
11 2016-11-01 2016-11-09    2017-01-13        -0.04       61.95      -3.50        -7.50      -110000      154000               8             27        1188000           148500.00         39.600000                      4.95
16 2016-11-07 2016-11-09    2016-12-09         0.00       40.46      -0.68       -13.10       -78000      106000               2             38        1064000           532000.00         35.466667                     17.73
17 2016-11-07 2016-11-09    2017-01-13        -0.01       58.46      -2.38        -8.34      -118500      142000               2             25         587500           293750.00         19.583333                      9.79
18 2016-11-08 2016-11-09    2016-12-09         0.04       39.82      -0.09       -12.70       -79000      108000               1             38        1102000          1102000.00         36.733333                     36.73
19 2016-11-08 2016-11-09    2017-01-13        -0.01       58.01      -2.41        -8.39      -117500      142000               1             26         637000           637000.00         21.233333                     21.23

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -RETURN_THRE]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8 2014-11-04 2014-11-05    2014-11-14         0.01       22.26      -0.19       -37.72       -75500       59500               1             40        -640000           -640000.0        -21.333333                    -21.33
9 2014-11-04 2014-11-05    2014-12-12         0.01       43.33      -1.03       -15.62      -119000      111500               1             25        -187500           -187500.0         -6.250000                     -6.25

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8  2014-11-04 2014-11-05    2014-11-14         0.01       22.26      -0.19       -37.72       -75500       59500               1             40        -640000           -640000.0        -21.333333                    -21.33
9  2014-11-04 2014-11-05    2014-12-12         0.01       43.33      -1.03       -15.62      -119000      111500               1             25        -187500           -187500.0         -6.250000                     -6.25
16 2016-11-07 2016-11-09    2016-12-09         0.00       40.46      -0.68       -13.10       -78000      106000               2             38        1064000            532000.0         35.466667                     17.73
17 2016-11-07 2016-11-09    2017-01-13        -0.01       58.46      -2.38        -8.34      -118500      142000               2             25         587500            293750.0         19.583333                      9.79
18 2016-11-08 2016-11-09    2016-12-09         0.04       39.82      -0.09       -12.70       -79000      108000               1             38        1102000           1102000.0         36.733333                     36.73
19 2016-11-08 2016-11-09    2017-01-13        -0.01       58.01      -2.41        -8.39      -117500      142000               1             26         637000            637000.0         21.233333                     21.23

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > RETURN_THRE]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
0 2014-10-28 2014-11-04    2014-11-14        -0.05       26.32      -0.61       -15.80       -54000      154000               7             56        5600000           800000.00        186.666667                     26.67
1 2014-10-28 2014-11-04    2014-12-12        -0.02       42.83      -1.61        -9.80       -88500      167500               7             34        2686000           383714.29         89.533333                     12.79
2 2014-10-29 2014-11-04    2014-11-14         0.07       25.87       0.23       -16.13       -52000      135500               6             58        4843000           807166.67        161.433333                     26.91
3 2014-10-29 2014-11-04    2014-12-12         0.00       42.94      -0.98        -9.75       -80000      150000               6             38        2660000           443333.33         88.666667                     14.78
4 2014-10-30 2014-11-04    2014-11-14         0.04       25.26       0.09       -15.61       -47000      131500               5             64        5408000          1081600.00        180.266667                     36.05
5 2014-10-30 2014-11-04    2014-12-12         0.02       42.77      -0.48        -9.57       -82500      152500               5             36        2520000           504000.00         84.000000                     16.80
6 2014-10-31 2014-11-04    2014-11-14         0.04       25.58       0.04       -23.86       -67000       81000               4             45         630000           157500.00         21.000000                      5.25
7 2014-10-31 2014-11-04    2014-12-12         0.00       44.30      -1.12       -11.82       -93500      114500               4             32         672000           168000.00         22.400000                      5.60

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
14 2016-11-07 2016-11-08    2016-12-09          0.0       40.46      -0.68        -13.1       -78000       73500               1             38        -171000           -171000.0              -5.7                      -5.7

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_before['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
14 2016-11-07 2016-11-08    2016-12-09          0.0       40.46      -0.68        -13.1       -78000       73500               1             38        -171000           -171000.0              -5.7                      -5.7

In [11]:
abs(df_after['Average_Daily_Return_pct']).mean()

13.592499999999996

In [12]:
df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()

9.65

In [ ]:
print("Exit after the event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit afterthe event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())