In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1213/Project2_options')

In [2]:
MARKET = "ASX"
EVENT = "US" 
NUM_FILE = 2
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
12 2016-11-01 2016-11-09    2016-11-17         0.01        8.79      -0.04        -4.00       -14180       19580               8              7          37660              4707.5             37.66                      4.71
20 2016-11-07 2016-11-09    2016-11-17         0.00        6.92      -0.04        -6.39       -12790       16850               2              8          32320             16160.0             32.32                     16.16
21 2016-11-07 2016-11-09    2016-12-15        -0.02       13.44      -0.34        -2.73       -20790       23060               2              5          11250              5625.0             11.25                      5.62
22 2016-11-08 2016-11-09    2016-11-17         0.04        6.58       0.01        -7.31       -13210       16850               1              8          28960             28960.0             28.96                     28.96
23 2016-11-08 2016-11-09    2016-12-15         0.00       13.30      -0.21        -2.73       -20280       23060               1              5          13800             13800.0             13.80                     13.80

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -RETURN_THRE]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8 2014-11-03 2014-11-05    2014-11-20         0.01        9.46      -0.03        -3.18       -10860        9670               2              9         -10890             -5445.0            -10.89                     -5.44

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8  2014-11-03 2014-11-05    2014-11-20         0.01        9.46      -0.03        -3.18       -10860        9670               2              9         -10890             -5445.0            -10.89                     -5.44
20 2016-11-07 2016-11-09    2016-11-17         0.00        6.92      -0.04        -6.39       -12790       16850               2              8          32320             16160.0             32.32                     16.16
21 2016-11-07 2016-11-09    2016-12-15        -0.02       13.44      -0.34        -2.73       -20790       23060               2              5          11250              5625.0             11.25                      5.62
22 2016-11-08 2016-11-09    2016-11-17         0.04        6.58       0.01        -7.31       -13210       16850               1              8          28960             28960.0             28.96                     28.96
23 2016-11-08 2016-11-09    2016-12-15         0.00       13.30      -0.21        -2.73       -20280       23060               1              5          13800             13800.0             13.80                     13.80

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > RETURN_THRE]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -RETURN_THRE]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8 2014-11-03 2014-11-04    2014-11-20         0.01        9.46      -0.03        -3.18       -10860       10000               1            276        -237360           -237360.0            -7.912                     -7.91

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_before['holding_period'] < 4)]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8 2014-11-03 2014-11-04    2014-11-20         0.01        9.46      -0.03        -3.18       -10860       10000               1            276        -237360           -237360.0            -7.912                     -7.91

In [11]:
df_before[(df_before['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8  2014-11-03 2014-11-04    2014-11-20         0.01        9.46      -0.03        -3.18       -10860       10000               1            276        -237360           -237360.0         -7.912000                     -7.91
9  2014-11-03 2014-11-04    2014-12-18        -0.03       15.34      -0.39        -1.97       -17690       17080               1            170        -103700           -103700.0         -3.456667                     -3.46
18 2016-11-07 2016-11-08    2016-11-17         0.00        6.92      -0.04        -6.39       -12790       13210               1            235          98700             98700.0          3.290000                      3.29
19 2016-11-07 2016-11-08    2016-12-15        -0.02       13.44      -0.34        -2.73       -20790       20280               1            144         -73440            -73440.0         -2.448000                     -2.45

In [12]:
abs(df_after['Average_Daily_Return_pct']).mean()

4.135416666666667

In [13]:
df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()

6.532500000000001

In [14]:
print("Exit after the event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit afterthe event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())

Exit after the event: 6.532500000000001
Exit afterthe event: 12.118500319759043
Exit before the event: -2.6325000000000003
Exit before the event: 4.6060132797608535