In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1213/Project2_options')

In [2]:
MARKET = "NKY"
EVENT = "BREXIT" 
NUM_FILE = 1
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
4  2016-06-20 2016-06-24    2016-07-08         0.00       28.26      -0.49       -23.98       -86500      126000               4             35        1382500           345625.00         46.083333                     11.52
5  2016-06-20 2016-06-24    2016-08-12         0.00       48.42      -1.81       -12.55      -133500      164500               4             22         682000           170500.00         22.733333                      5.68
6  2016-06-21 2016-06-24    2016-07-08        -0.04       27.78      -0.73       -24.83       -85000      156500               3             35        2502500           834166.67         83.416667                     27.81
7  2016-06-21 2016-06-24    2016-08-12        -0.02       48.56      -2.30       -12.54      -131000      176000               3             23        1035000           345000.00         34.500000                     11.50
8  2016-06-22 2016-06-24    2016-07-08        -0.02       26.80      -0.56       -27.86       -89500      128000               2             34        1309000           654500.00         43.633333                     21.82
9  2016-06-22 2016-06-24    2016-08-12         0.00       47.80      -1.99       -13.13      -134500      161500               2             22         594000           297000.00         19.800000                      9.90
10 2016-06-23 2016-06-24    2016-07-08         0.01       26.24      -0.30       -30.13       -90500      156500               1             33        2178000          2178000.00         72.600000                     72.60
11 2016-06-23 2016-06-24    2016-08-12         0.02       47.82      -1.45       -13.37      -134000      176000               1             22         924000           924000.00         30.800000                     30.80

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -RETURN_THRE]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2016-06-21 2016-06-24    2016-07-08        -0.04       27.78      -0.73       -24.83       -85000      156500               3             35        2502500           834166.67         83.416667                     27.81
7  2016-06-21 2016-06-24    2016-08-12        -0.02       48.56      -2.30       -12.54      -131000      176000               3             23        1035000           345000.00         34.500000                     11.50
8  2016-06-22 2016-06-24    2016-07-08        -0.02       26.80      -0.56       -27.86       -89500      128000               2             34        1309000           654500.00         43.633333                     21.82
9  2016-06-22 2016-06-24    2016-08-12         0.00       47.80      -1.99       -13.13      -134500      161500               2             22         594000           297000.00         19.800000                      9.90
10 2016-06-23 2016-06-24    2016-07-08         0.01       26.24      -0.30       -30.13       -90500      156500               1             33        2178000          2178000.00         72.600000                     72.60
11 2016-06-23 2016-06-24    2016-08-12         0.02       47.82      -1.45       -13.37      -134000      176000               1             22         924000           924000.00         30.800000                     30.80

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > RETURN_THRE]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8 2016-06-22 2016-06-23    2016-07-08        -0.02        26.8      -0.56       -27.86       -89500       94000               1             34         153000            153000.0               5.1                       5.1

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -RETURN_THRE]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_before['holding_period'] < 4)]

  entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
8 2016-06-22 2016-06-23    2016-07-08        -0.02        26.8      -0.56       -27.86       -89500       94000               1             34         153000            153000.0               5.1                       5.1

In [11]:
abs(df_after['Average_Daily_Return_pct']).mean()

16.205833333333334

In [12]:
df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()

29.07166666666667

In [13]:
print("Exit after the event - mean:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit after the event - std:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event - mean:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event - std:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit after the event - abs mean:", abs(df_after['Average_Daily_Return_pct']).mean())
print("Exit before the event - abs mean:", abs(df_before['Average_Daily_Return_pct']).mean())

Exit after the event - mean: 29.07166666666667
Exit after the event - std: 22.926830061451287
Exit before the event - mean: 2.7616666666666667
Exit before the event - std: 1.5375489152110466
Exit after the event - abs mean: 16.205833333333334
Exit before the event - abs mean: 2.4989999999999997