In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1213/Project2_options')

In [2]:
MARKET = "NKY"
EVENT = "ECB" 
NUM_FILE = 5
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
14 2013-11-07 2013-11-14    2013-12-13        -0.02       35.58      -0.95        -9.28       -67000       90000               7             45        1035000           147857.14         34.500000                      4.93
15 2013-11-07 2013-11-14    2014-01-10        -0.02       47.38      -1.94        -7.05       -90500      116500               7             33         858000           122571.43         28.600000                      4.09
16 2013-11-08 2013-11-14    2013-12-13        -0.04       34.71      -1.13        -9.40       -66000       96500               6             45        1372500           228750.00         45.750000                      7.62
17 2013-11-08 2013-11-14    2014-01-10        -0.02       46.53      -2.18        -7.05       -89000      119500               6             34        1037000           172833.33         34.566667                      5.76
18 2013-11-11 2013-11-14    2013-12-13         0.02       33.65      -0.30        -9.90       -63500       90000               3             47        1245500           415166.67         41.516667                     13.84
19 2013-11-11 2013-11-14    2014-01-10         0.02       46.02      -1.08        -7.24       -87000      116500               3             34        1003000           334333.33         33.433333                     11.14
20 2013-11-12 2013-11-14    2013-12-13        -0.04       33.84      -0.98       -10.53       -65500       77000               2             46         529000           264500.00         17.633333                      8.82
21 2013-11-12 2013-11-14    2014-01-10        -0.02       46.65      -2.01        -7.81       -92500      105000               2             32         400000           200000.00         13.333333                      6.67
22 2013-11-13 2013-11-14    2013-12-13        -0.05       33.20      -1.17       -11.18       -67500       77000               1             44         418000           418000.00         13.933333                     13.93
23 2013-11-13 2013-11-14    2014-01-10        -0.03       46.16      -2.29        -8.15       -95000      105000               1             32         320000           320000.00         10.666667                     10.67
50 2015-12-03 2015-12-10    2016-01-08        -0.04       49.79      -1.77       -12.31       -89000      115500               7             34         901000           128714.29         30.033333                      4.29
54 2015-12-07 2015-12-10    2016-01-08        -0.04       46.39      -1.48       -12.61       -81000      102000               3             37         777000           259000.00         25.900000                      8.63
56 2015-12-08 2015-12-10    2016-01-08         0.00       45.26      -0.82       -13.45       -83500       91000               2             36         270000           135000.00          9.000000                      4.50

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
26 2016-03-10 2016-03-17    2016-04-08         0.01       37.84      -0.79       -18.15      -105500       72000               7             28        -938000          -134000.00        -31.266667                     -4.47
28 2016-03-11 2016-03-17    2016-04-08        -0.03       37.37      -1.08       -17.70       -99500       70000               6             30        -885000          -147500.00        -29.500000                     -4.92
30 2016-03-14 2016-03-17    2016-04-08         0.00       35.94      -0.62       -18.47       -92500       76500               3             32        -512000          -170666.67        -17.066667                     -5.69
31 2016-03-14 2016-03-17    2016-05-13         0.01       55.58      -1.99       -10.97      -132000      116000               3             23        -368000          -122666.67        -12.266667                     -4.09
32 2016-03-15 2016-03-17    2016-04-08         0.01       34.98      -0.52       -16.85       -81000       73500               2             37        -277500          -138750.00         -9.250000                     -4.62
34 2016-03-16 2016-03-17    2016-04-08        -0.01       33.95      -0.66       -16.49       -76000       70000               1             39        -234000          -234000.00         -7.800000                     -7.80
35 2016-03-16 2016-03-17    2016-05-13        -0.01       53.84      -2.01       -10.06      -117000      112000               1             26        -130000          -130000.00         -4.333333                     -4.33
40 2017-06-05 2017-06-09    2017-07-14         0.02       52.48      -0.22        -9.07       -71000       59500               4             42        -483000          -120750.00        -16.100000                     -4.03
46 2017-06-08 2017-06-09    2017-07-14         0.02       49.80      -0.32        -9.01       -65000       61500               1             46        -161000          -161000.00         -5.366667                     -5.37

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
18 2013-11-11 2013-11-14    2013-12-13         0.02       33.65      -0.30        -9.90       -63500       90000               3             47        1245500           415166.67         41.516667                     13.84
19 2013-11-11 2013-11-14    2014-01-10         0.02       46.02      -1.08        -7.24       -87000      116500               3             34        1003000           334333.33         33.433333                     11.14
20 2013-11-12 2013-11-14    2013-12-13        -0.04       33.84      -0.98       -10.53       -65500       77000               2             46         529000           264500.00         17.633333                      8.82
21 2013-11-12 2013-11-14    2014-01-10        -0.02       46.65      -2.01        -7.81       -92500      105000               2             32         400000           200000.00         13.333333                      6.67
22 2013-11-13 2013-11-14    2013-12-13        -0.05       33.20      -1.17       -11.18       -67500       77000               1             44         418000           418000.00         13.933333                     13.93
23 2013-11-13 2013-11-14    2014-01-10        -0.03       46.16      -2.29        -8.15       -95000      105000               1             32         320000           320000.00         10.666667                     10.67
30 2016-03-14 2016-03-17    2016-04-08         0.00       35.94      -0.62       -18.47       -92500       76500               3             32        -512000          -170666.67        -17.066667                     -5.69
31 2016-03-14 2016-03-17    2016-05-13         0.01       55.58      -1.99       -10.97      -132000      116000               3             23        -368000          -122666.67        -12.266667                     -4.09
32 2016-03-15 2016-03-17    2016-04-08         0.01       34.98      -0.52       -16.85       -81000       73500               2             37        -277500          -138750.00         -9.250000                     -4.62
34 2016-03-16 2016-03-17    2016-04-08        -0.01       33.95      -0.66       -16.49       -76000       70000               1             39        -234000          -234000.00         -7.800000                     -7.80
35 2016-03-16 2016-03-17    2016-05-13        -0.01       53.84      -2.01       -10.06      -117000      112000               1             26        -130000          -130000.00         -4.333333                     -4.33
46 2017-06-08 2017-06-09    2017-07-14         0.02       49.80      -0.32        -9.01       -65000       61500               1             46        -161000          -161000.00         -5.366667                     -5.37
54 2015-12-07 2015-12-10    2016-01-08        -0.04       46.39      -1.48       -12.61       -81000      102000               3             37         777000           259000.00         25.900000                      8.63
56 2015-12-08 2015-12-10    2016-01-08         0.00       45.26      -0.82       -13.45       -83500       91000               2             36         270000           135000.00          9.000000                      4.50

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
16 2013-11-08 2013-11-13    2013-12-13        -0.04       34.71      -1.13        -9.40       -66000       80500               5             45         652500            130500.0         21.750000                      4.35
18 2013-11-11 2013-11-13    2013-12-13         0.02       33.65      -0.30        -9.90       -63500       75000               2             47         540500            270250.0         18.016667                      9.01
19 2013-11-11 2013-11-13    2014-01-10         0.02       46.02      -1.08        -7.24       -87000      100000               2             34         442000            221000.0         14.733333                      7.37
54 2015-12-07 2015-12-09    2016-01-08        -0.04       46.39      -1.48       -12.61       -81000       91000               2             37         370000            185000.0         12.333333                      6.17

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
7  2014-06-09 2014-06-11    2014-08-08         0.00       48.78      -1.52        -7.82       -94000       85000               2             32        -288000          -144000.00         -9.600000                     -4.80
9  2014-06-10 2014-06-11    2014-08-08         0.00       47.96      -1.55        -7.65       -90500       85000               1             33        -181500          -181500.00         -6.050000                     -6.05
26 2016-03-10 2016-03-16    2016-04-08         0.01       37.84      -0.79       -18.15      -105500       75000               6             28        -854000          -142333.33        -28.466667                     -4.74
28 2016-03-11 2016-03-16    2016-04-08        -0.03       37.37      -1.08       -17.70       -99500       76000               5             30        -705000          -141000.00        -23.500000                     -4.70
30 2016-03-14 2016-03-16    2016-04-08         0.00       35.94      -0.62       -18.47       -92500       79500               2             32        -416000          -208000.00        -13.866667                     -6.93
31 2016-03-14 2016-03-16    2016-05-13         0.01       55.58      -1.99       -10.97      -132000      119000               2             23        -299000          -149500.00         -9.966667                     -4.98
32 2016-03-15 2016-03-16    2016-04-08         0.01       34.98      -0.52       -16.85       -81000       76000               1             37        -185000          -185000.00         -6.166667                     -6.17

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_before['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
7  2014-06-09 2014-06-11    2014-08-08         0.00       48.78      -1.52        -7.82       -94000       85000               2             32        -288000           -144000.0         -9.600000                     -4.80
9  2014-06-10 2014-06-11    2014-08-08         0.00       47.96      -1.55        -7.65       -90500       85000               1             33        -181500           -181500.0         -6.050000                     -6.05
18 2013-11-11 2013-11-13    2013-12-13         0.02       33.65      -0.30        -9.90       -63500       75000               2             47         540500            270250.0         18.016667                      9.01
19 2013-11-11 2013-11-13    2014-01-10         0.02       46.02      -1.08        -7.24       -87000      100000               2             34         442000            221000.0         14.733333                      7.37
30 2016-03-14 2016-03-16    2016-04-08         0.00       35.94      -0.62       -18.47       -92500       79500               2             32        -416000           -208000.0        -13.866667                     -6.93
31 2016-03-14 2016-03-16    2016-05-13         0.01       55.58      -1.99       -10.97      -132000      119000               2             23        -299000           -149500.0         -9.966667                     -4.98
32 2016-03-15 2016-03-16    2016-04-08         0.01       34.98      -0.52       -16.85       -81000       76000               1             37        -185000           -185000.0         -6.166667                     -6.17
54 2015-12-07 2015-12-09    2016-01-08        -0.04       46.39      -1.48       -12.61       -81000       91000               2             37         370000            185000.0         12.333333                      6.17

In [11]:
abs(df_after['Average_Daily_Return_pct']).mean()

3.9125000000000005

In [12]:
df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()

0.8946666666666672

In [13]:
print("Exit after the event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit after the event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())

Exit after the event: 0.8946666666666672
Exit afterthe event: 6.172543617719009
Exit before the event: -0.6472727272727273
Exit before the event: 4.400714424486943